ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 192px;
    height: 150px;
    background-image: url("https://pic.616pic.com/bg_w1180/00/00/34/SOzArOMOdT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
li {
    float: left;

    width: 40px;
    height: 50px;
    border: white solid 1px;
    line-height: 50px;
    font-weight: 900;
    font-size: 16px;
    text-align: center;


}
.time  {
    margin-left: 10px;
}
div {
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    padding-left: 30px;
}