html,body {
    width: 100%;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    height:200px;
    width: 100%;
    background-color: rgb(212,60,51);
}
span {
    font-size: 40px;
    color: red;
}
.seg {
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    width: 100%;
    height: 100px;
    background-color: rgba(252,252,253);
    border-top: #555555 solid 1px;
    border-bottom: #555555 solid 1px;
}
li {
    font-weight: 500;
    float: left;
    height: 100%;
    width: 33.33%;

}
.adv {
    line-height: 130px;
    font-size: 45px;
    width: 100%;
    height: 130px;
    border-bottom: #555555 solid 1px;
}


.img {
    float: left;
    width: 32%;
    height: 300px;
    border: white solid 6px;

}


section :nth-child(1) {
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
section :nth-child(2) {
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
section :nth-child(3) {
    background-image: url("3.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
section :nth-child(7) {
     background-image: url("4.jpg");
    background-size: cover;
    background-repeat: no-repeat
 }
section :nth-child(8) {
    background-image: url("5.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
section :nth-child(9) {
       background-image: url("6.jpg");
    background-size: cover;
    background-repeat: no-repeat
   }
p {
    float: left;
    width: 33.3%;
    height: 100px;
    font-size: 30px;
    line-height: 1.5;
}
.nav :nth-child(1) {
    width: 40%;
    height: 100%;
    font-size: 50px;
    line-height: 200px;
    float: left;
}
.nav :nth-child(1) img {
    align-items: center;
    width: 84px;
    height: 49px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav :nth-child(2) {
    position: relative;
    float: right;
    height: 60px;
    width: 30%;
    top: 50px;
    transform: translateY( 50%);
    border-radius: 30px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    font-size: 40px ;
    color: #e74c3c;

}
